<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fpliu.newton.ui.image">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".crop.ImageCropActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".picker.ImagePreviewActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".picker.ImageGridActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".preview.FilePreviewActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".preview.UriPreviewActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".preview.ImageItemPreviewActivity"
            android:launchMode="singleTop" />
    </application>
</manifest>
